<html>

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <div class="heading">
                <h2 id="title">Popular blogs</h2>
            </div>
            <div class="box">
                <input type="radio" name="position" />
                <input type="radio" name="position" checked />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <main id="carousel">
                    <% for (let i=0; i < 5; i++) {%>
                        <div class="item">
                            <div class="card-header">
                                <img src="<%- blogs[i].blogImage %>" alt="rover" />
                            </div>
                            <div class="card-body">
                                <span class="tag tag-teal"><%- blogs[i].category %></span>
                                <h4>
                                    <%- blogs[i].title %>
                                </h4>
                                <p>
                                    <%- blogs[i].snippet %>
                                </p>
                                <div class="user">
                                    <img src="<%- blogs[i].author.userAvatar %>" alt="user" />
                                    <div class="user-info">
                                        <h5><%- blogs[i].author.name %></h5>
                                        <small><%- 1 + Math.round(i * 7 * Math.random()) %>h ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <main>
            </div>
            <div class="card">
                <h2><%- blogs[blogIndex].title %></h2>
                <h5><%- blogs[blogIndex].author.name %>, Dec 7, 2017</h5>
                <img class="blogimg" src="<%- blogs[blogIndex].blogImage %>" alt="<%- blogs[0].category %>">
                <div class="blog-text">
                    <p><%- blogs[blogIndex].content.replace("\n", "<br>" ).replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;" );
                            %></p>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>

                <script>
                    var tag = document.getElementsByClassName("tag");

                    for (let i = 0; i < tag.length; i++) {
                        let category = tag[i].innerHTML;
                        let sum = 0

                        for (let i = 0; i < category.length; i++) {
                            sum += category[i].toLowerCase().charCodeAt(0)
                        }

                        sum = sum * 240 / 255

                        tag[i].style.backgroundColor = "hsl(" + sum + ", 100%, 35%)"
                    }

                    var position = 2

                    function changeCard() {
                        var carousel = document.getElementById("carousel")
                        var radio = document.getElementsByName("position")

                        carousel.style.cssText = "--position: " + position
                        radio[position-1].checked = true

                        position++

                        if (position == 6) {
                            position = 1
                        }
                    }

                    setInterval(changeCard, 2000)

                </script>
    </body>

</html>