<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <head>
        <link rel="stylesheet" href="manage.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <h1 class="heading">Manage blogs</h1>

                <% for (let i=0; i < blogs.length; i++) { %>
                    <div class="blog-container">
                        <div class="blog-image">
                            <img src="<%- blogs[i].blogImage %>" class="image" alt="Blog image">
                            <div class="info">
                                <h3>Title: <%- blogs[i].title %></h3>
                                <p><%- blogs[i].snippet %></p>
                            </div>
                        </div>
                        <div class="actions">
                            <button id="delete"><i class="fa-regular fa-trash-can fa-3x"></i></button>
                        </div>
                    </div>
                    <% } %>
            </main>

            <script>
                let blogContainer = document.getElementsByClassName("blog-image")

                for (let i = 0; i < blogContainer.length; i++) {
                    function addShade() {
                        blogContainer[i].style.boxShadow = "rgba(149, 157, 165, 0.2) 15px 15px 24px";
                        blogContainer[i].style.cursor = "pointer"
                    }

                    function removeShade() {
                        blogContainer[i].style.boxShadow = "";
                    }

                    blogContainer[i].addEventListener('click', function (event) {
                        alert('Blog clicked')
                    })

                    blogContainer[i].addEventListener('mouseover', addShade)

                    blogContainer[i].addEventListener('mouseout', removeShade)
                }
            </script>

            <%- include('../partials/footer.ejs')%>
    </body>


</html>