<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <head>
        <link rel="stylesheet" href="manage.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <h1 class="heading">Manage blogs</h1>

                <% for (let i=0; i < blogs.length; i++) { %>
                    <div class="blog-container">
                        <div class="blog-image">
                            <img src="<%- blogs[i].blogImage %>" class="image" alt="Blog image">
                            <div class="info">
                                <h3>Title: <%- blogs[i].title %></h3>
                                <p><%- blogs[i].snippet %></p>
                            </div>
                        </div>
                        <div class="actions">
                            <button id="delete"><i class="fa-regular fa-trash-can fa-3x"></i></button>
                        </div>
                    </div>
                    <% } %>

                        <button id="add"><i id="add-icon" class="fa-solid fa-plus"></i></button>
            </main>

            <script>
                let blogContainer = document.getElementsByClassName("blog-image")
                var blogs = '<%- JSON.stringify(blogs.map(blog => blog._id)) %>';
                blogs = blogs.replace("[", "").replace("]", "").replaceAll('"', '')
                blogs = blogs.split(",")

                for (let i = 0; i < blogContainer.length; i++) {
                    function addShade() {
                        blogContainer[i].style.boxShadow = "rgba(149, 157, 165, 0.2) 0px 8px 24px";
                        blogContainer[i].style.cursor = "pointer"
                    }

                    function removeShade() {
                        blogContainer[i].style.boxShadow = "";
                    }

                    blogContainer[i].addEventListener('click', function (event) {
                        window.location.assign('/viewBlog?blogId=' + blogs[i])
                    })

                    blogContainer[i].addEventListener('mouseover', addShade)

                    blogContainer[i].addEventListener('mouseout', removeShade)
                }

                let trash = document.getElementsByClassName("fa-regular fa-trash-can fa-3x")

                for (let i = 0; i < trash.length; i++) {
                    function trashShade() {
                        trash[i].style.boxShadow = "rgba(149, 157, 165, 0.2) 0px 8px 24px";
                        trash[i].style.cursor = "pointer"
                    }

                    function removeTrashShade() {
                        trash[i].style.boxShadow = "";
                    }

                    trash[i].addEventListener('click', function (event) {
                        token = document.cookie.split("=")[1]

                        if (token == undefined) {
                            throw error
                        }

                        // Url for the request
                        let url = 'https://blogs-api-fcje.onrender.com/blogs/' + blogs[i]

                        // Making our request
                        fetch(url, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                'token': 'Bearer ' + token
                            },
                        })
                            .then(response => {
                                window.location.reload()
                            })
                            .catch(errorMsg => {
                                alert(errorMsg)
                            })
                    })

                    trash[i].addEventListener('mouseover', trashShade)

                    trash[i].addEventListener('mouseout', removeTrashShade)
                }

                let plus = document.getElementById("add")

                function plusShade() {
                    plus.style.boxShadow = "rgba(149, 157, 165, 0.2) 0px 8px 24px";
                    plus.style.cursor = "pointer"
                }

                function removePlusShade() {
                    plus.style.boxShadow = "";
                }

                plus.addEventListener('click', function (event) {
                    window.location.assign("/createBlog")
                })

                plus.addEventListener('mouseover', plusShade)

                plus.addEventListener('mouseout', removePlusShade)

            </script>

            <%- include('../partials/footer.ejs')%>
    </body>


</html>